:root{
    /*Colors*/
    --font-color: #1f1f1f;
    --background: #d7d5d2;
    --shadow-color: #66726c;
    --banner-bg: #fad642;

    /*Sizes*/
    --p-size: 15px;
    --big-title-size: 30px;
    --title-size: 20px;
    --subtitle-size: 18px;
}

*{
    font-family: 'Segoe UI';
    color: #66726c;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.hide-in-mobile{
    display: none;
}

.black-bg{
    background: var(--font-color);
    position: absolute;
    z-index: 9999999999;
    display: block;
    height: 100vh;
    width: auto;
}

#navbar-options{
    display: none;
}

header{
    z-index: 10000;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    flex-direction: row;
    position: fixed;
    top: 0;
    box-shadow: 0px -8px 20px var(--shadow-color);
    padding-left: 1rem;
    font-size: var(--p-size);
    background: rgb(255, 255, 255, 0.9);
}

.logo{
    display: flex;
    justify-content: left;
    text-wrap: nowrap;
    width: 100%;
}

#menu-icon-container button{
    border: none;
    background: none;
    transition: all 0.5s ease;
    padding: 0 2rem;
}

#menu-icon-container button:hover{
    rotate: 90deg;
}

#hero-section{
    margin-top: 100px;
    background: url("../media/new-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 10rem;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    margin-bottom: 20px;
}

#hero-section h1 i{
    padding: 1rem;
    color: white;
    display: flex;
    justify-content: center;
    text-shadow: 2px 2px 2px var(--shadow-color);
    margin-top: 1rem;
}

#call-to-action{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

#human-repairing-img{
    width: 100%;
}

#cta-text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#cta-title{
    padding: 1rem;
    font-size: var(--subtitle-size);
}

#cta-btn{
    border: none;
    background-color: #fad642;
    padding: 0rem 1rem;
    width: fit-content;
    border-radius: 15px;
    box-shadow: 2px 2px 2px var(--shadow-color);
    font-family: 'Segoe UI';
    font-weight: bolder;
    font-style: italic;
    font-size: large;
    margin-bottom: 2rem;
    transition: all 0.5s ease;
}

#cta-btn:hover{
    transform: scale(1.2);
    background: none;
    border: solid 4px var(--banner-bg);
}

#cta-btn a{
    color: white;
    text-decoration: none;
    transition: all 0.5s ease;
}

#cta-btn a:hover{
    color: var(--banner-bg);
}

#categories{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#categories-title{
    text-align: center;
    padding: 0rem 1rem;
}

.product-category{
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 6px var(--shadow-color);
    border-radius: 40px;
    margin: 1rem 20px;
    padding: 2rem 2rem;
}

.category-img{
    display: flex;
    justify-self: left;
}

.category-img img{
    width: 80%;
}

.category-title{
    text-align: right;
}

.popular-product-container{
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 2px 2px 8px var(--shadow-color);
    border-radius: 25px;
    margin: 1rem 1rem;
    justify-content: center;
}

.info-btn button{
    background-color: var(--banner-bg);
    border-radius: 100%;
    border: none;
    font-weight: bolder;
    font-size: var(--big-title-size);
    padding: 0.5rem 1.5rem;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.info-btn button:hover{
    transform: scale(1.2);
}

#popular-product-h2{
    text-align: center;
    padding-bottom: 1rem;
}

.popular-product-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.popular-product-img-container img{
    width: 80%;
}

.popular-product-text-container{
    text-align: center;
    background-color: var(--banner-bg);
    border-radius: 100% 0px 20px 20px;
}

#contact-us{
    background-color: var(--banner-bg);
    margin-top: 3rem;
}

#contact-us div{
    padding: 1rem;
}

#where-to-find h3{
    font-weight: normal;
}

#contact-phones h3{
    font-weight: normal;
}

#sn-subtitle{
    list-style: none;
    font-weight: 500;
}

footer{
    font-weight: bold;
    opacity: 0.8;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: white;
}

.invisible{
    display: none;
}

#window-menu{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 800;
    top: 100px;
    background-color: white;
    width: 90%;
    box-shadow: 2px 2px 8px var(--shadow-color);
    border-radius: 20px;
    margin-left: 5%;
}

#wm-title{
    background: var(--banner-bg);
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 20px 20px 0px 0px;
    padding: 0.5rem 0rem;
}

#wm-options{
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.wm-options-item{
    padding: 0.5rem;
    text-transform: uppercase;
}

.wm-options-item a{
    text-decoration: none;
    font-weight: bolder;
}

.product-cards{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 800;
    top: 70px;
    background-color: white;
    width: 90%;
    box-shadow: 2px 2px 8px var(--shadow-color);
    border-radius: 20px;
    margin-left: 5%;
}

.exit-button-container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: fit-content;
    margin-top: 10px;
    margin-left: 20px;
}

.exit-button-container button{
    background: var(--banner-bg);
    border: none;
    padding: 2px 6px;
    border-radius: 50%;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s ease;
}

.exit-button-container button:hover{
    transform: scale(1.5);
}

.image-container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.image-container img{
    width: 50%;
}

.text-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--banner-bg);
}

.text-container h2{
    font-size: var(--subtitle-size);
}

.text-container h3{
    font-size: var(--subtitle-size);
    color: white;
    text-shadow: 2px 2px 2px var(--shadow-color);
}

.text-container p{
    padding: 3px 5px;
    font-size: var(--p-size);
    text-align: center;
}

.order-btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: var(--banner-bg);
    width: 100%;
    border-radius:  0px 0px 20px 20px;
    padding: 0.3rem 0;
}

.order-btn-container button{
    border: solid 5px white;
    border-radius: 20px;
    background: none;
    padding: 5px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.order-btn-container button:hover{
    transform: scale(1.2);
    box-shadow: 2px 2px 16px 4px white;
    border-color: var(--banner-bg);
    background: white;
    color: var(--banner-bg);
}

/*PAGINA CATALOGO*/
#changing-photo{
    background: url("../media/FondoOthers.jpg");
    height: 10rem;
    margin-top: 3.5rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 0px 0px 80% 80%;
    margin-bottom: 2rem;
}

#all-products{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos para el slider */

#all-products-slider h2{
text-align: center;
margin-bottom: 1rem;
}

.slider {
    position: relative;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
    border: 1px solid #ddd;
}

.slider-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.ap-name{
    margin-top: 1rem;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slide img {
    height: 10rem;
    margin-top: 1rem;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

#all-products-list{
    margin-top: 100px;
}

#title-products{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.add-product{
    border: none;
    background: var(--banner-bg);
    margin-left: 1rem;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.add-product:hover{
    transform: scale(1.2);
}

#edit-button{
    padding: 0.5rem 1rem;
}

#exit-btn{
    font-size: 15px;
    padding: 3px 6px;
    margin-bottom: 1rem;
}

#photo-input{
    background: var(--banner-bg);
    border-radius: 20px;
    padding: 5px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.5s ease;
    margin-left: 50%;
    text-wrap: nowrap;
    width: fit-content;
    margin-bottom: 1rem;
}

#photo-input:hover{
    transform: scale(1.1);
}

#add-texts{
    margin-left: 2rem;
}

#add-texts label{
    font-style: italic;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
}

#add-texts input{
    margin-bottom: 0.5rem;
}

#preview-img{
    margin-left: 65%;
    width: max-content;
    height: 3rem;
}

#add-new-product-btn{
    font-size: 12px;
    padding: 5px;
    border-radius: 20px;
    background: white;
    border-style: outset;
    border-color: var(--banner-bg);
    transition: all 0.5s ease;
    margin-left: 85%;
    text-wrap: nowrap;
    margin-bottom: 1rem;
}

#add-new-product-btn:hover{
    border-color: var(--shadow-color);
    background: var(--banner-bg);
}

#products-by-category{
    margin-top: 2rem;
    text-align: center;
}

.products-container{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.product{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: solid var(--banner-bg);
    margin: 1rem;
    border-radius: 20px;
}

.product-image-container img{
    width: 50%;
    padding-top: 1rem;
}

.product-text-container{
    width: 100%;
}

.product-text-container h2{
    padding-bottom: 0.5rem;
}

.product-order-btn button{
    border: solid var(--banner-bg) 3px;
    border-radius: 10px;
    background: white;
    padding: 0.1rem  0.5rem;
    transition: all 0.5s ease;
    box-shadow: 2px 2px 4px var(--shadow-color);
}

.product-order-btn button:hover{
    transform: scale(1.2);
    background: var(--banner-bg);
    font-weight: bold;
}

.product-order-btn{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}


/*ADD PRODUCT*/
#add-product-menu{
    position: fixed;
    z-index: 999999999;
    top: 70px;
    background: white;
    box-shadow: 2px 2px 4px var(--shadow-color);
    border-radius: 15px;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

#add-product-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
}

#left-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#preview-img, #photo-input{
    margin: 0;
    margin-bottom: .5rem;
}

#preview-img{
    border: dashed var(--banner-bg);
}

#rigth-div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: column;
    margin-top: 1rem;
}

#cancel-btn, .add-btn{
    font-size: 12px;
    padding: 0.2rem;
    border-radius: 20px;
    background: white;
    border-style: outset;
    border-color: var(--banner-bg);
    transition: all 0.5s ease;
    height: fit-content;
}

#cancel-btn:hover{
    background: var(--shadow-color);
    color: white;
}

#button-panel{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
}

#button-panel button{
    margin: 0rem 0rem .7rem .7rem;
}

.add-btn:hover{
    background: var(--banner-bg);
    color: white;
    border-color: var(--background);
}

/*LOGIN*/

#login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    box-shadow: 2px 2px 4px var(--shadow-color);
    margin: 3rem 3rem 3rem;
    padding: 2rem;
    border-radius: 10px;
    background: rgb(255, 255, 255, 0.9);
    transition: all 0.5s ease;
}

#login-form input{
    margin-bottom: 1rem;
}

#login-form h2{
    margin-bottom: 1rem;
    text-align: center;
}

#login-form button{
    border: solid 2px var(--banner-bg);
    border-radius: 5px;
    padding: 0.2rem;
    background: white;
    color: var(--banner-bg);
    font-weight: bold;
    transition: all 0.5s ease;
    box-shadow: 2px 2px 4px var(--shadow-color);
}

#login-form button:hover{
    transform: scale(1.2);
    background: var(--banner-bg);
    color: white;
}

#login-body{
    background: url(../media/new-hero.jpg) no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

/*Modal de creacion de categoria*/
#create-category{
    display: none;
    position: fixed;
    z-index: 99999999999999999;
    background: white;
    box-shadow: 2px 2px 4px var(--shadow-color);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    width: 80%;
    margin-left: 10%;
    top: 100px;
}

#create-category form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
}

#category-name{
    margin-top: .5rem;
    margin-bottom: .5rem;
}

#delete-button{
    padding: .5rem 1rem;
}

/*Barra de busqueda*/
#search-input{
    display: flex;
    margin-top: 80px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#search-btn{
    border: outset;
    border-radius: 5px;
    background: var(--banner-bg);
    padding: 0.2rem;
    transition: all 0.5s ease;
}

#search-btn:hover{
    transform: scale(1.1);
}

/*Modal de eliminar*/
#delete-modal{
    display: none;
    position: fixed;
    top: 50%;
    z-index: 9999999;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 10px;
    box-shadow: 2px 2px 4px var(--shadow-color);
    text-wrap: wrap;
    width: 80%;
    margin-left: 10%;
    padding: .5rem;
}

#delete-modal-form button{
    margin-top: 1rem;
    position: relative;
    left: 35%;
}